---
repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint

  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        exclude: ^\.github/workflows/
        args:
          - --mapping=2
          - --sequence=4
          - --offset=2
          - --preserve-quotes
