apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "arbetern.fullname" . }}
  labels:
    {{- include "arbetern.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "arbetern.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "arbetern.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "arbetern.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.containerPort }}
              protocol: TCP
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            - name: SLACK_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: slack-bot-token
            - name: SLACK_SIGNING_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: slack-signing-secret
            - name: GITHUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: github-token
            {{- if index .Values.secretValues "azure-openai-endpoint" }}
            - name: AZURE_OPEN_AI_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: azure-openai-endpoint
            - name: AZURE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: azure-api-key
            {{- end }}
            {{- if index .Values.secretValues "jira-url" }}
            - name: JIRA_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: jira-url
            - name: JIRA_EMAIL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: jira-email
            - name: JIRA_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: jira-api-token
            {{- end }}
            {{- if index .Values.secretValues "jira-client-id" }}
            - name: JIRA_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: jira-client-id
            - name: JIRA_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: jira-client-secret
            {{- end }}
            {{- if index .Values.secretValues "jira-project" }}
            - name: JIRA_PROJECT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: jira-project
            {{- end }}
            {{- if index .Values.secretValues "slack-app-token" }}
            - name: SLACK_APP_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: slack-app-token
            {{- end }}
            {{- if index .Values.secretValues "nvd-api-key" }}
            - name: NVD_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: nvd-api-key
            {{- end }}
            - name: GOMEMLIMIT
              value: {{ .Values.goRuntime.goMemLimit | quote }}
            - name: GOGC
              value: {{ .Values.goRuntime.goGC | quote }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
